@using ManPowerSols.Core.Models
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div class="az-content-body">
    <div class="row row-sm">
        <div class="col-xl-9 mg-t-20">
            <div class="card card-dashboard-twentyone">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-body">
                             <h3 class="">Change Password</h3> 
                            <hr>
                            <div class="modal-body pd-sm-40" style="padding:0 20px">
                              
                                @if (TempData["ResponseCode"] != null)
                                {
                                    if (TempData["ResponseCode"].ToString() == "200")
                                    {
                                    <div class="alert alert-success">
                                        <strong>Success!</strong> @TempData["ResponseMessage"].ToString()
                                    </div>
                                    }
                                    else if (TempData["ResponseCode"].ToString() != "200")
                                    {
                                    <div class="alert alert-danger">
                                        <strong>Error!</strong> @TempData["ResponseMessage"].ToString()
                                    </div>
                                    }
                                }
                                <form id="frmsrc" method="post" name="frmsrc" action="/EmpDashboard/ChangePassword">
                                    @*@using (@Html.BeginForm("ChangePassword", "EmpDashboard", FormMethod.Post)){*@
                                    <input type="hidden" class="form-control" id="txtusertype" name="txtusertype">
                                    <input type="hidden" class="form-control" id="txtuserid" name="txtuserid">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Current Password" id="txtcurrentpwd" name="txtcurrentpwd" required="required">
                                    </div><!-- form-group -->
                                    
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="New Password" id="txtnewpwd" name="txtnewpwd" required="required">
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" id="txtconfpwd" name="txtconfpwd" />
                                    </div><!-- form-group -->
                                    <button class="btn btn-primary" id="btnchangepwd" type="submit">Change Password</button>
                                </form>
                              @*}*@
                            </div>
                        </div>
                    </div>
                </div><!-- row -->
            </div><!-- card -->
        </div><!-- col -->
    </div><!-- row -->
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="~/MpsJs/CommonJs.js"></script>
<script>
    $("form[name='frmsrc']").validate({
        // Specify validation rules
        rules: {
            txtcurrentpwd: "required",
            txtnewpwd: {
                required: true,
                minlength: 5
            },
            txtconfpwd: {
                required: true,
                equalTo: "#txtnewpwd"
            },
        },

        submitHandler: function (form) {
            form.submit();
        },
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    });
    $('#btnchangepwd').click(function (e) {
        if (form.valid() == true) {
            e.preventDefault();
        }
    })
    $(document).ready(function(){
        $('#txtusertype').val(sessionStorage.getItem('usertype'));
        $('#txtuserid').val(sessionStorage.getItem('usermailid'));
    })
</script>