@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
				<!-- page-banner-section 
					================================================== -->
				<section class="page-banner-section">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h1>Construction</h1>
							</div>
							<div class="col-md-6">
								<ul class="page-depth">
									<li><a href="#">Home</a></li>
									<li><a href="#">Construction</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- End page-banner section -->

				<!-- about section 
					================================================== -->
				<section class="about-section">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2>Construction</h2>
								<p style="text-align:justify">Every career has a different set of skills needed for that job. The same can be said for construction. Construction worker skills are different from the skills the office staff has, but that’s what makes them the right person for the job. These skills, rather than traits, are easily acquired for construction workers and help them further their careers. If you’re wondering what skills great construction workers have, and which skills you should highlight here’s a list of 10 construction worker skills.</p>
								<p style="text-align:justify">
								<h2>Strength & Stamina</h3>
								Construction is a very physical job, so it’s not surprising that strength and stamina would be an essential skill. If a potential construction worker can’t complete physical tasks on the job they might not be cut out for the physical labor. Someone who isn’t the strongest person on the crew might have other skills and talents that make up for it. But it’s still important to be able to complete the physical requirements.</p>
								<p style="text-align:justify">
								<h2>Building and Mechanical Knowledge</h3>
								Building and mechanical knowledge are up there with strength and stamina on the essential construction worker skills list. If someone doesn’t have the building and mechanical know-how to complete a job, they’re not ready for the job. There are many training courses and apprenticeships around the country that help people learn the needed technical skills for the job. The technical skills that construction workers have been essential to completing any job.</p>
								<p style="text-align:justify">
								<h2>Coordination</h3>
								Another great one of the construction worker skills is coordination. The ability to coordinate the crew, supplies, and equipment is a great skill. It’s beneficial for any superintendent or managerial position. And it’s a good indicator of a great leader, something business owners and managers should always be on the lookout for. Someone who is able to help with coordinating projects will have a great career in construction.</p>
								<p style="text-align:justify">
								<h2>Math and Language Literacy</h3>
								Construction work requires quite a bit more math and language literacy than one might expect. Construction workers need to be able to do basic math and some algebra to ensure that the right amount of building materials will be there. They also need to be able to read and write efficiently. Construction requires a lot of documentation, if the documentation doesn’t make sense it could be harder for the company to get their true fees.</p>
								<p style="text-align:justify">
								<h2>Written and Oral Communication</h3>
								It might seem out of place, but written and oral communication is one of the greatest construction worker skills. Construction workers who can communicate their concerns, questions, and decisions effectively will have longer and more prosperous careers than those who can’t. Written communication is just as important as oral communication. Construction workers have to write emails, texts, and other documents to ensure the work continues correctly on any job.</p>
								<p style="text-align:justify">
								<h2>Comfortable and Adept with Technology</h3>
								Technology is here to stay on the construction site. The modern construction worker has to be willing to learn the new software, apps, and devices that make construction easier. Construction workers that are comfortable with the technology and who take the time to learn how it works and how to take advantage of all the features will be more valuable. That’s why this is one of the essential construction worker skills.</p>
								<p style="text-align:justify">
								<h2>Critical Reasoning Skills</h3>
								Critical reasoning skills are important for any construction worker. They help construction workers know when something might not be right. That way they will know when something might not work and can find ways to work around it. Critical reasoning skills also help prevent accidents on the job site. Construction workers with this skill don’t require intense supervision because they can reason their way through any problems they may encounter.</p>
								<p style="text-align:justify">
								<h2>Willingness to Learn</h3>
								There are always new methods, technologies, and tools that make the job easier. Construction workers who want to learn new skills and who stay up-to-date on the newest methods have this essential skill. They’re always trying to find a way to stay under budget and on time while delivering a quality product. It’s an essential skill for any crew because they’re able to teach others on the crew making the whole outfit knowledgeable and productive.</p>
								<p style="text-align:justify">
								<h2>Organization</h3>
								If you and your crew don’t know where your equipment or tools are you’re going to spend unnecessary time and resources in either replacing or finding them. Organization makes the essential construction worker skills list because it impacts more parts of your business than you might think. An organized construction worker will make it to the site on time because they’ve planned out when to be there. They’re going to be ready to go because they’re organized and know what they need to get the job done.</p>
								<p style="text-align:justify">
								<h2>Working Well With Others</h3>
								Construction is a team effort. People who don’t have the necessary skills to work well or communicate with others are going to have a harder time in construction. Team players help build up the team and foster good communication and better construction. That’s why it’s an essential construction worker skill.</p>
							</div>
							
						</div>
					</div>
				</section>
				<!-- End about section -->

		