@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

				<!-- page-banner-section 
					================================================== -->
				<section class="page-banner-section">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h1>Manpower Supplier - Services</h1>
							</div>
							<div class="col-md-6">
								<ul class="page-depth">
									<li><a href="#">Home</a></li>
									<li><a href="#">Services</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- End page-banner section -->

				<!-- about section 
					================================================== -->
				<section class="about-section">
					<div class="container">
						<div class="row">
							<div class="col-md-12" style="height:500px">
								<h2>Services</h2>
								<p style="text-align:justify">Quick and easy job posting process. Reach out to number of active jobseekers on Manpower Supplier. Manage applications through Manpowr Supplier's advanced response management software.</p>
								<p style="text-align:justify">With our intelligent filters, receive only relevant responses on your job postings</p>
								<p style="text-align:justify">A quick, short and simple job posting<br>
Setup a simple job description within 250 characters<br>
Posted job stays active for 30 days<br>
Get a basic response manager for FREE to manage applications</p
								
							</div>
							
						</div>
					</div>
				</section>
				<!-- End about section -->

